<div class="row bg-light p-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h4>{{ 'lang.addLang' | translate }}</h4>
            <form>
                <div class="row align-items-start">
                    <div class="col">
                        <div class="pb-2">
                            <label>{{ 'lang.language' | translate }}</label>
                            <select bindLabel="label" [multiple]="false" placeholder="Select" [(ngModel)]="langue"  name="langue" class="form-select" aria-label="Default select example">
                                <option selected value="default"> {{ 'lang.chooseElement' | translate }}</option>
                                <option value="fr">Français</option>
                            </select>
                        </div>
                        <div class="pb-2">
                            <label>{{ 'lang.levelWrote' | translate }}</label>
                            <select bindLabel="label" [multiple]="false" placeholder="Select" [(ngModel)]="write" name="write" class="form-select" aria-label="Default select example">
                                <option selected>{{ 'lang.chooseElement' | translate }}</option>
                                <option [value]="'lang.intermediary'">{{ 'lang.intermediary' | translate }}</option>
                                <option [value]="'lang.elementary'">{{ 'lang.elementary' | translate }}</option>
                                <option [value]="'lang.current'">{{ 'lang.current' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="pb-2">
                            <label>{{ 'lang.levelSpoken' | translate }}</label>
                            <select bindLabel="label" [multiple]="false" placeholder="Select" [(ngModel)]="speak" name="speak" class="form-select" aria-label="Default select example">
                                <option selected>{{ 'lang.chooseElement' | translate }}</option>
                                <option [value]="'lang.intermediary'">{{ 'lang.intermediary' | translate }}</option>
                                <option [value]="'lang.elementary'">{{ 'lang.elementary' | translate }}</option>
                                <option [value]="'lang.current'">{{ 'lang.current' | translate }}</option>
                            </select>
                        </div>
                        <div class="pb-2">
                            <label>{{'lang.levelUndesrtood' | translate }}</label>
                            <select bindLabel="label" [multiple]="false" placeholder="Select" [(ngModel)]="under" name="under" class="form-select" aria-label="Default select example">
                                <option selected>{{ 'lang.chooseElement' | translate }}</option>
                                <option [value]="'lang.intermediary'">{{ 'lang.intermediary' | translate }}</option>
                                <option [value]="'lang.elementary'">{{ 'lang.elementary' | translate }}</option>
                                <option [value]="'lang.current'">{{ 'lang.current' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pb-5">
                        <button type="button"  class="btn btn-success">{{'lang.save' | translate }}</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-4">
            <div class="p-5 bg-primary">
                <h4 class="text-center text-white">{{ 'lang.languageCount' | translate }}</h4>
                <p class="text-center text-white">5</p>
                
            </div>
        </div>
    </div>

    
    <div class="col-12 pt-5">
        <h4>{{ 'lang.languageList' | translate }}</h4>
        <div class="table-responsive-sm">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <td>{{ 'lang.language' | translate }}</td>
                        <td>{{ 'lang.levelWrote' | translate }}</td>
                        <td>{{ 'lang.levelSpoken' | translate }}</td>
                        <td>{{'lang.levelUndesrtood' | translate }}</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white  border" >
                        <td class="align-middle">Frnaçais</td>
                        <td class="align-middle">Parlé</td>
                        <td class="align-middle">Ecrit</td>
                        <td class="align-middle">Comprehension</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" (click)="update()" class="btn btn-warning m-3">{{ 'lang.update' | translate }}</button>
                                <button type="button" (click)="moadalOpen()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success m-3">{{ 'lang.detail' | translate }}</button>
                                <button type="button" (click)="delete()" class="btn btn-danger m-3">{{ 'lang.delete' | translate }}</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>

    <!-- Modal -->
<div *ngIf="clicked==true" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Français</h5>
          <button type="button" (click)="moadalclose()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
  
  </div>
